<h1>{{title}}</h1>
{{!<p>Welcome to {{title}}</p>


<h2>
    Add New Car
</h2>

<form id="addform">
    <table>
        <tr>
            <td>CarId</td>
            <td><input type="text" id="carId" /></td>
        </tr>
        <tr>
            <td>Make</td>
            <td><input type="text" id="make" /></td>
        </tr>
        <tr>
            <td>Model</td>
            <td><input type="text" id="model" /></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><input type="text" id="color" /></td>
        </tr>
        <tr>
            <td>Date of manufacture</td>
            <td><input type="text" id="dom" /></td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td><input type="text" id="manufacturer" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="addData(event)">Add New Car</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>
<br>
<h2>
    Query Car
</h2>

<form id="readform">
    <table>
        <tr>
            <td>CarId</td>
            <td><input type="text" id="readCarId" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="readData(event)">Query Car</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>


